@import "reset";

$font-stack:    Helvetica, sans-serif;
$primary-color: #ddd;
$background-color: #2d2e29;
$table-border-color: #999;
$btn-background-color: #eae0c2;
$btn-background-color-hover: #ccc2a6;
$btn-color: #505739;
$input-prefilled-color: #2C712E;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;

  .container {
    margin: 12px auto;
    text-align: center;
  }

  h1 {
    font-size: 150%;
  }

}

.sudoku-board {
  input {
    border: 0;
    outline: 0;
    background: transparent;
    text-align: center;
    font-size: 120%;
    width: 20px;
    height: 20px;

    &:disabled {
      font-weight: bold;
      color: $input-prefilled-color;
    }
  }

  table {
    padding: 10px;    
    margin: 0 auto;
  }

  td {
    border: 1px solid $table-border-color;
    padding: 0.5rem;
    text-align: left;

    &.even {
      background-color: #F9F9F9;
    }

    &.odd {
      background-color: #D9D9D9;
    }
  }
}

.message-bar {
  height: 30px;  
  font-weight: bold;
  color: red;
}

.action-buttons {
  padding: 12px 0;

  .button { 
    background-color: $btn-background-color;
    color:$btn-color;

    display: inline-block;
    margin-bottom: 0; 
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid #333029;
    white-space: nowrap;
    padding:16px 24px;
    margin: 0 6px;
    font-size: 100%;

    &:active { 
      position:relative;
      top:1px;
    }

    &:hover {
      background-color:$btn-background-color-hover;
      text-decoration: none;
    }
  }
}